In [6]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['database_name']
table = db['collection_name']

In [7]:
example_record = {'name':'moses', 'age':31, 'friends':['ted', 'gahl']}

In [14]:
example_record

{'name': 'moses',
 'age': 31,
 'friends': ['ted', 'gahl'],
 '_id': ObjectId('5d94037eaea8295a68e746e3')}

In [8]:
table.insert_one(example_record)

In [21]:
table.update_one({'name':'moses'}, {'$set':{'age':32}})
table.insert_one({'name':'moses the second'}, {'$set':{'age':60}})
table.insert_one({'name':'moses the third'}, {'$set':{'age':400}})
table.insert_one({'name':'moses the fourth'}, {'$set':{'age':20}})

In [18]:
table.find() # returns a generator for all records

In [19]:
table.find({'age':32}) # find all records with age = 30

In [22]:
table.count_documents({}) # return the count of all records in the collection

7

In [23]:
db.list_collection_names()

['collection_name']